/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
    -fx-background-color: #4CAF50;
    -fx-border: none;
    -fx-color: white;
    -fx-padding: 20px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 16px;
    -fx-margin: 4px 2px;
}

.button1 {-fx-border-radius: 2px;}
.button2 {-fx-border-radius: 4px;}
.button3 {-fx-border-radius: 8px;}
.button4 {-fx-border-radius: 12px;}
.button5 {-fx-border-radius: 50%;}


.canvas {
    -fx-background-color: antiquewhite, black ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}